<html>
<head>
<title>Session Management in NodeJS using Express 4</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 

<!--
In the jQuery code below, we call the router ‘/login’ and redirect it to the ‘admin‘ if login is successful. no validation is done in this example
-->

<script>
    $(document).ready(function(){
        var email,pass;
        $("#submit").click(function(){
            email=$("#email").val();
            pass=$("#password").val();
            /*
            * Perform some validation here.
            */
            $.post("http://localhost:3000/login",{email:email,pass:pass},function(data){        
                if(data==='done')           
                {
                    window.location.href="/admin";
                }
            });
        });
    });
</script>
</head>
<body>
<input type="text" size="40" placeholder="Type your email" id="email"><br />
<input type="password" size="40" placeholder="Type your password" id="password"><br />
<input type="button" value="Submit" id="submit">
</body>
</html>